In [7]:
import pandas as pd
data= pd.read_csv('/content/sample_data/geo_main.csv')
data.head(1)

,id,name,phone,timeOpen,ratingAverage,details,rangePrice,Address,Longitude,Latitude,address
0,1,030 Cuisine,+(84)0794997030,Đang mở cửa: 11:00 SA - 10:30 CH,4.5,"Phong cách ẩm thực Fusion Nhật Bản, Kiểu Đức...",100.000 vnd - 400.000 vnd,8-15 Tôn Đức Thắng Khách Sạn Renaissance River...,106.7063,10.774465,"Khách sạn Renaissance Riverside Sài Gòn, 8-15,..."

In [8]:
def extract_district(address):
    address_parts = address.split(",")
    district = address_parts[-4].strip()
    return district
data['district'] = data['address'].apply(lambda x: extract_district(x))
data['district'].value_counts()

Quận 1                 1174
Quận 3                  253
Thành phố Thủ Đức       194
Quận 7                   95
Quận Bình Thạnh          84
Quận Tân Bình            57
Quận 5                   49
Quận 10                  38
Quận Phú Nhuận           34
Quận 4                   22
Quận Gò Vấp              12
Huyện Nhà Bè             10
Quận Bình Tân             5
Quận 8                    5
Phường Bến Nghé           5
Quận Tân Phú              5
Huyện Bình Chánh          4
Quận 11                   4
Xã Phú Mỹ Hưng            3
Quận 12                   3
Thành phố Dĩ An           2
Noong Bua                 2
Huyện Củ Chi              1
Xã Phước Vĩnh An          1
Thành phố Sóc Trăng       1
Quận 6                    1
Thị trấn Cần Thạnh        1
Name: district, dtype: int64

In [9]:
data.to_csv('/content/sample_data/official.csv', index=False)