In [3]:
import pandas as pd

# Read the Excel file
df_1 = pd.read_excel('/content/sample_data/no.xlsx')
df_2 = pd.read_excel('/content/sample_data/dmo.xlsx')
merged_df = pd.merge(df_1[['id', 'name', 'phone','timeOpen', 'ratingAverage', 'details', 'rangePrice']], df_2[['id', 'Address', 'Longitude', 'Latitude']], on='id')
merged_df.head(2)
merged_df.to_csv('/content/sample_data/merged_file_colab.csv', index=False)

/usr/local/lib/python3.10/dist-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

In [4]:
a = pd.read_csv('/content/sample_data/merged_file_colab.csv')
a.tail(1)

,id,name,phone,timeOpen,ratingAverage,details,rangePrice,Address,Longitude,Latitude
2064,2065,大黒屋,+84 8 3827 3622,NaN,4.5,Bữa trưa,400.000 vnd - 700.000 vnd,"71/5 - 71/6 Mac Thi Buoi, Dist 1 District 1, T...",106.704446,10.774364